@charset "utf-8";

body {
    background-color: #e6e6fa;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-color: #191970;
    color: #e6e6fa;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 3px 3px 5px #cccccc;
    text-align: center;
}

h2 {
    background-color: #aeaed4;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

p {
    font-size: .90em;
    text-indent: 3em;
    background-color: rgb(137, 162, 237);
}

p.fundo {
    background-color: rgb(28, 26, 26);
}


ul {
    font-weight: bold;
    color: rgb(34, 34, 34);
}

footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.cor_texto {
    color: #C70000;
}