@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

img{
    width: 100px;
}

body{
    width: 95vw;
    margin:auto;
    padding: 10px;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
}

.divpai{
    border: 1px solid #000;
    width: 95vw;
    height: 50vh;    
}

#imagem1{
    float:left;
    padding: 0px 5px;
}

#imagem2{
    float:right;
    padding: 0px 5px;
}

@media (max-width: 414px) {
    .divpai {
        width: auto;
        height: auto;
    }
}