@charset "utf-8";
body {background-color: #b3e9f3;
    font-family:'roboto mono',monospace ;
    font-size: 1rem;
    font-weight: 700;
}
.principal {
    background-color: #6590d1;
    text-shadow: 3px 3px 3px  #48789f;
}
