body {
    background-color: #f4f4f4;
   
}
#div {
    float: right;
    width: 20%;
    text-align: center;
    

}
ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0;
    
  }
  


.mylist li:first-child {
    background: rgb(43, 209, 246);
}

.mylist li:nth-child(3) {
    background: rgb(231, 240, 123);
}

.mylist li:last-child {
    background: rgb(69, 3, 15);
}

input:focus {
    background-color: rgb(255, 34, 0);
   
}

:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}

h4::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  
}

h4::first-line {
    background-color: rgb(5, 153, 104);
    
}

h2::selection {
    color: red;
    background: yellow;
}
